<footer>
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-6 cell text-left">
        <div class="grid-container">
          <div class="grid-x">
            <div class="small-4 cell">
              <a href="#">
                <img src="assets/img/ml-icon.png" alt="">
                Mentions Légales
              </a>
            </div>
            <div class="small-4 cell">
              <a href="">
                <img src="assets/img/loc-icon.png" alt="">
                Contact
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="small-6 cell text-right">
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12">
              <ul class="menu align-right">
                <li><a href=""><img src="assets/img/twitter-icon.png" alt=""></a></li>
                <li><a href=""><img src="assets/img/fb-icon.png" alt=""></a></li>
                <li><a href=""><img src="assets/img/instagram-icon-social-bar.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
