<header>
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-3 cell text-left">
        <img src="assets/img/alexandre-tharaud-logo.png" alt="">
      </div>
      <div class="small-6 cell align-self-middle ">
        <nav>
          <ul class="menu dropdown align-center" data-dropdown-menu data-magellan>
            <li><a href="index.html">Home</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Concerts</a></li>
            <li>
              <a href="">Music</a>
              <ul>
                <li><a href="">Disques</a></li>
                <li><a href="">Vidéos</a></li>
              </ul>
            </li>
            <li><a href="biographie.html">Bio</a></li>
            <li><a href="">Links</a></li>
          </ul>
        </nav>
      </div>
      <div class="small-3 cell text-right align-self-middle">
        <ul class="menu vertical dropdown align-center" data-dropdown-menu data-magellan>
          <li>
            <a href="">
              <i class="fa fa-search" aria-hidden="true"></i>
              <img src="assets/img/search-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="">EN</a>
            <ul>
              <li><a href="">EN</a></li>
              <li><a href="">FR</a></li>
            </ul>
          </li>
      </div>
    </div>
  </div>
</header>
