<div class="grid-container full">
  <div class="grid-x">

    <div class="small-3 cell">

      <a href="" class="hover_img">

        <img src="assets/img/jfbocle.jpg" alt="">

      </a>

    </div>

    <div class="small-3 cell">

      <a href="" class="hover_img">

        <img src="assets/img/bocle.jpg" alt="">

      </a>

    </div>

    <div class="small-3 cell">

      <a href="" class="hover_img">

        <img src="assets/img/bartabas.jpg" alt="">

      </a>

    </div>

    <div class="small-3 cell">

      <a href="" class="hover_img">

        <img src="assets/img/jean-francois-sporicigo.jpg" alt="">

      </a>

    </div>

  </div>
</div>
