<div class="small-3 sidebar">

  <div class="grid-container">
    <div class="grid-x grind-padding-x grid-padding-y">

      <div class="medium-12 cell text-center date">

        <h5 class="text-center text-uppercase">Prochaines dates</h5>
        <p class="text-left time"><time>19 Aout</time></p>
        <p class="text-left">La Roque d’Anthéron - FRANCE</p>
        <p class="text-left time"><time>22 Aout</time></p>
        <p class="text-left">Amsterdam - THE NETHERLANDS</p>
        <a href="" class="button text-center">Voir +</a>

      </div>

      <div class="medium-12 cell">

        <img src="assets/img/img-sidebar.png" alt="">

      </div>

      <div class="medium-12 cell text-center dl-bg">

        <h5 class="text-uppercase">Download docs</h5>
        <p>Chargez la version imprimable de ma biographie</p>
        <a href="" class="dl-button"><img src="assets/img/dl-icon.png" alt=""></a>

      </div>

      <div class="medium-12 cell text-center article-sidebar">

        <h5 class="text-uppercase">Titre de l'article</h5>
        <img src="assets/img/jfbocle.jpg" alt="" class="img_rounded">
        <p class="text-left">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus ...</p>
        <a href="" class="button text-center">Voir +</a>

      </div>


    </div>
  </div>

</div>
